<div *ngIf="sportClass">
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ sportClass.title }}</h3>
        <p class="card-text"><strong>Installation Name:</strong> {{ sportClass.installation.name }}</p>
        <p class="card-text"><strong>Installation Description:</strong> {{ sportClass.installation.description }}</p>
        <img ngSrc="assets/sportClassesCalendarDemo.png" height="250" width="400">
        <p class="card-text"><strong>Total Places:</strong> {{ sportClass.places }}</p>
        <p class="card-text"><strong>Assistants:</strong></p>
        <ul>
          <li *ngFor="let assistant of sportClass.assistants">
            {{ assistant.name }} - {{ assistant.email }}
          </li>
        </ul>
        <div *ngIf="currentUserEmail != ''; else notLoggedIn">
          <button class="btn btn-primary" (click)="toggleClassParticipation()">
            {{ isCurrentUserInClass() ? 'Leave Class' : 'Join Class' }}
          </button>
        </div>
        <ng-template #notLoggedIn>
          <button class="btn btn-primary" [routerLink]="['/login']">
            Log in to apply for a class
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
