.container {
  display: flex;
  padding: 1rem;
}

.mainButtonsContainer {
  padding: 1rem;
}

.mainButton {
  height: 12rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  font-size: 4rem;
  color: aliceblue;
  border-radius: 1rem;
}

.mainButton:hover {
  color: cadetblue;
}

.installations {
  background-image: url("../assets/installations.webp");
}

.sportClasses {
  background-image: url("../assets/sports.png");
}

.noticesColumn {
  padding: 1rem;
  border-radius: 1rem;
  background-color: powderblue;
}

