<div class="container">
  <div class="row mt-3">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <button routerLink="installations" class="btn btn-info">Installations</button>
        </div>
        <div class="col-md-6">
          <button routerLink="materials" class="btn btn-success">Materials</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <button routerLink="bookings" class="btn btn-warn">Bookings</button>
        </div>
        <div class="col-md-6">
          <button routerLink="complaints" class="btn btn-danger">Complaints</button>
        </div>
      </div>
    </div>
  </div>
</div>
