.materials-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.materials-select {
  flex: 1;
  margin-right: 20px; /* Espacio entre el select y la lista */
}

.selected-materials {
  flex: 2;
}

.selected-materials .buttons {
  margin-top: 20px; /* Espacio entre la lista de materiales y los botones */
  display: flex;
  justify-content: space-between;
}
