<button mat-raised-button color="primary" (click)="openCreateDialog()">Make a complaint</button>

<div *ngIf="complaints.length > 0; else noComplaints">
    <div *ngFor="let complaint of complaints">
        <h3>{{ complaint.title }}</h3>
        <p>{{ complaint.body }}</p>
        <button mat-icon-button (click)="deleteComplaint(complaint.id)">
            <mat-icon>delete</mat-icon>
        </button>
        <p>{{ complaint.datetime | date: 'short' }}</p>
    </div>
</div>
<ng-template #noComplaints>
    <p>No complaints found.</p>
</ng-template>
