<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-brand btn btn-link" (click)="navigateHome()" type="button">
    SportCentre
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn">Login</a>
    <a>{{this.userName}}</a>
    <a class="nav-link" routerLink="/notices" *ngIf="isLoggedIn">
      <span class="material-icons">account_circle</span>
    </a>
    <a class="nav-link" routerLink="/" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
  </div>
</nav>
<router-outlet></router-outlet>
