<div class="container">
  <div class="row">
    <!-- Iterate over sport classes array -->
    <div *ngFor="let sportClass of sportClasses" class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ sportClass.title }}</h5>
          <p class="card-text"><strong>Installation:</strong> {{ sportClass.installation.name }}</p>
          <p class="card-text"><strong>Places available:</strong> {{ sportClass.places }}</p>
          <p class="card-text"><strong>Assistants:</strong> {{ sportClass.assistants.length }} / {{ sportClass.places }}</p>
          <button class="btn btn-primary" [routerLink]="['/clients/sport-classes', sportClass.id]">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
