<h1 mat-dialog-title>{{this.title}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="this.installation.name" [disabled]="data.isUpdate" [value]="this.installation.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="this.installation.description" [value]="this.installation.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Capacity</mat-label>
    <input matInput type="number" [(ngModel)]="this.installation.capacity" [value]="this.installation.capacity">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rental Price</mat-label>
    <input matInput type="number" [(ngModel)]="this.installation.rentalPrice" [value]="this.installation.rentalPrice">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>
